<mat-toolbar id="application-toolbar" color="accent">
    <div class="app-title">
        <mat-icon class="toolbar-icon">menu</mat-icon>
        <span class="title" routerLink="/">
            Insta-bay
        </span>
    </div>


    <div class="toolbar-icons">
        <mat-icon class="toolbar-icon" routerLink="/wishlist" aria-label="Navigate to your wishlist"
            (click)="navigateToWishList()">favorite
        </mat-icon>
        <mat-icon class="toolbar-icon" routerLink="/cart" aria-label="Navigate to your cart"
            (click)="navigateToShoppingCart()">shopping_cart
        </mat-icon>

    </div>
</mat-toolbar>