<div id="item-page">
    <div class="left-half">
        <div class="product-image">
            <img max-height="450px" style="max-width: 100%;" src={{item.image}}>
        </div>

        <div class="product-price">
            <span class="previous-price">$ {{item.originalPrice}}</span> $ {{item.price}}
        </div>
        <div class="delivery-charges">
            *Delivery charge ($5) not included
        </div>

        <div class="action-buttons">
            <div class="action-button left-action-button" color="warn" (click)="addToCart()">
                <div class ="action-button-child">
                    <mat-icon>shopping_cart</mat-icon>
                    <span *ngIf="alreadyInCart">
                        Remove from cart
                    </span>
                    <span *ngIf="!alreadyInCart">
                        Add to cart
                    </span>
                </div>

            </div>


            <div class="action-button right-action-button" color="warn" (click)="addToList()">
                <div class ="action-button-child">
                    <mat-icon>favorite</mat-icon>
                    <span *ngIf="alreadyInList">
                        Remove from list
                    </span>
                    <span *ngIf="!alreadyInList">
                        Add to list
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="right-half">
        <div class="product-title">
            {{item.title}}
        </div>
        <div class="product-description">
            {{item.description}}
        </div>
    </div>


</div>